.timer-style{
    float: right;
    font-size: 1.5em;
    position: relative;
    top: -1.9em;
    margin-right: 40px;
    color: #fff;
}

/*popup style*/
h1{
	text-transform: uppercase;
	color:#3b5998;
	font-size:18px;
	text-align: center;
}
body{
	min-width:250px;
}